*{margin: 0;
    padding: 0;
}
    .form{
        margin: 150px auto;
        width: 526px;
        height: 544px;
        border-radius: 12px;
        border: solid 1px #979797;
        background-color: white;}
      .form-top{position: absolute;
          align-items: center;}
      .brand{color: #cc002b;
        font-size: 56px;
        font-family: serif;
        margin-top: 20px;
        margin-left: 195px;
        width: 193px;
        height: 56px;
      }
      .sign-in{
        margin-top: 30px;
        margin-left: 208px;
        width: 130px;
        height: 28px;
        font-family: Georgia;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.78;
        letter-spacing: -0.09px;
        color: black;
      }
      .oneline{margin-top: 10px;
        margin-left: 55px;
        width: 410px;
        height: 20px;
        font-family: Arial;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: -0.06px;
        text-align: center;
        color: #5b6566;
      }
      .btn{
        margin-left: 50px;
        font-size: 15px;
        font-family: Arial;
        color: white;
        margin-top: 410px;
        width: 410px;
        height: 48px;
        border-radius: 4px;
        background-color: #cc002b;
        padding-right: 5.75rem;
        padding-left: 5.75rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;}
        
      
    
    .input{
        width: 410px;
        height: 42px;
        border-radius: 5px;
        border: solid 1px #d8d8d8;
        background-color: #d8d8d8;
      }
    .email-input{
        width: 141px;
        height: 14px;
        font-family: Arial;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.13px;
        color: #5b6566;
          display: grid;
        position: absolute;
        margin-top: 190px;
    margin-left: 48px;}
    .password-input{
        width: 96px;
        height: 14px;
        font-family: Arial;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.13px;
        color:#5b6566; 
            display: grid;
        position: absolute;
        margin-top: 280px;
        margin-left: 48px;}
    .check-label{
        width: 178px;
        height: 20px;
        font-family: Arial;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: -0.05px;
        color: #5b6566;
      }
    .form-checkbox{position: absolute;
        margin-top: 370px;
    margin-left: 70px;}
    .background{display: inline-block;
    content:"";
    background: url(img/architecture-buildings.jpg) no-repeat center center/cover;
    height: 1000px;
    width: 1370px;
    z-index: -1;
    }
    .bottom-line{display: table;
        margin: 20px auto;
            font-family: Arial;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: -0.05px;
            color: #5b6566;
          }
    .bottom-line-part{color: #cc002b;
           font-family: Arial;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.05px;}    
            .footer{
                padding: 14px 271px 19px 271px;
                width: 828px;
                height: 14px;
                font-family: Arial;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: white;
                background-color: #cc002b;
              }